body{

    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: ceu;
    animation-duration: 7s;
    animation-iteration-count: infinite;

}

#sol{

    height: 200px;
    width: 200px;
    background-image: url("soltextura.jpg");
    background-size: cover;
    display: flex;
    border-radius: 100px;
    position: absolute;
    box-shadow: 0px 0px 30px 10px rgb(220, 161, 52);

}

#lua{

    height: 200px;
    width: 200px;
    background-image: url("luatextura.jpg");
    background-size: cover;
    display: flex;
    border-radius: 100px;
    position: absolute;
    margin-left: 900px;
    animation-name: eclipse;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}


@keyframes eclipse{

    0%{margin-left: 900px;}
    50%{margin-right: 900px;}
    100%{margin-right: 3000px;}

}

@keyframes ceu{

    from{background-color: white;}
    to{background-color: black;}

}