@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{

    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: ceu;
    animation-duration: 7s;
    animation-iteration-count: infinite;

}

#sol{

    height: 200px;
    width: 200px;
    background-image: url("imgs/soltextura.jpg");
    background-size: cover;
    display: flex;
    border-radius: 100px;
    position: absolute;
    box-shadow: 0px 0px 30px 10px rgb(220, 161, 52);

}

#lua{

    height: 200px;
    width: 200px;
    background-image: url("imgs/luatextura.jpg");
    background-size: cover;
    display: flex;
    border-radius: 100px;
    position: absolute;
    margin-left: 900px;
    animation-name: eclipse;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

#titulo{

    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    word-break:normal;
    margin-bottom: 500px;
    width: 500px;
    height: 500px;
        
}

h1{

    color: black;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    animation-name: texto;
    animation-duration: 7s;
    animation-iteration-count: infinite;

}

#icon{

    width: 50px;
    height: 50px;
    margin-left: 600px;
    animation-name: gato;
    animation-duration: 7s;
    border-radius: 100px;
    animation-iteration-count: infinite;
    transition: 200ms;

}

#icon:hover{

    transform: scale(1.1);
    cursor: pointer;

}

@keyframes eclipse{

    0%{margin-left: 900px;}
    50%{margin-right: 900px;}
    100%{margin-right: 3000px;}

}

@keyframes ceu{

    0%{background-color: white;}
    50%{background-color: black;}
    100%{background-color: black;}

}

@keyframes texto{

    from{color: black;}
    to{color: white;}
}

@keyframes gato{

    from{background-color: white;}
    to{background-color: white;}

}



@media screen and (max-width:720px){

    h1{

        font-size: 20px;

    }

    #icon{

        margin-left: 370px;

    }

}